*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 20px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
table{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;

    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;

    width: 500px;
}

table thead{
    background-color: rgb(223, 223, 61);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
}

table tbody{
    background-color: rgb(54, 54, 54);
    color: white;
}

table tfoot{
    background-color: blue;
    color: white;
}

table th, td{
    padding: 8px;
    border: 1px solid black;
}

table caption{
    padding-bottom: 20px;
}